.slider{
    position: relative;
    height: 400px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    max-height: 490px;
    min-width: 70%;
    min-height: 50%;
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

