.slider{
    position: relative;
    height: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    max-height: 400px;
    max-width: 90%;
    height: auto;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}